<section
	class="breadcrumb"
	[ngStyle]="{
		position: 'relative',
		width: '100%',
		display: 'flex',
		transition: '0.5s',
		'margin-bottom': '0px',
		'animation-name': 'FadeIn',
		'animation-duration': '3s',
		'transition-timing-function': 'linear',
		'align-items': 'center',
		background: 'linear-gradient(#000000b0 40%, #00000080 100%),' + bgImage,
		'background-size': 'cover',
		'background-position': 'center'
	}"
>
	<div class="content">
		<div class="sect">
			<h3>{{ title }}</h3>
			<ul class="breadcrumb">
				<li><a routerLink="/">Home</a></li>
				<li>{{ title }}</li>
			</ul>
		</div>
	</div>
</section>

<section class="blog" style="margin-top: 50px">
	<div class="container">
		<h1>News</h1>
		<!-- <div>
			<div class="col-md-12">
				<div class="row mb-30" *ngFor="let item of data">
					<div
						class="col-md-4 no-padding clickable"
						[routerLink]="'/media/news/detail/' + item.slug + '-nid-' + item.id"
					>
						<img class="img-fluid" [src]="item.imageUrl" alt="Thumb" />
					</div>
					<div class="col-md-8">
						<div>
							<h2
								[routerLink]="
									'/media/news/detail/' + item.slug + '-nid-' + item.id
								"
							>
								{{ item.title }}
							</h2>
							<div [innerHtml]="item.brief"></div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div class="row">
			<div class="col-md-12">
				<div class="audio-container" *ngFor="let item of data">
					<div class="audio-innerContainer">
						<div
							class="audio-image"
							[routerLink]="
								'/media/news/detail/' + item.slug + '-nid-' + item.id
							"
						>
							<img class="img-fluid" [src]="item.imageUrl" alt="Thumb" />
						</div>
						<!-- <img [src]="item.thumbnail" /> -->

						<div class="audio-content">
							<!-- <h2 class="audio-content-header">{{ item.title }}</h2>
							<p>{{ item.intro }}</p>

							<audio controls [src]="item.fileUrl">
								<a href="/media/cc0-audio/t-rex-roar.mp3">Download audio </a>
							</audio> -->

							<h2
								class="audio-content-header"
								[routerLink]="
									'/media/news/detail/' + item.slug + '-nid-' + item.id
								"
							>
								{{ item.title }}
							</h2>
							<div [innerHtml]="item.brief"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="blog" style="margin-top: 50px">
	<div class="container">
		<h1>
			Podcast on Investing for Impact in Nigeria: A deep dive into Agriculture,
			Education and Health Sectors
		</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="audio-container" *ngFor="let item of audios">
					<div class="audio-innerContainer">
						<img [src]="item.thumbnail" class="audio-image" />

						<div class="audio-content">
							<h2 class="audio-content-header">{{ item.title }}</h2>
							<p>{{ item.intro }}</p>

							<audio controls [src]="item.fileUrl">
								<a href="/media/cc0-audio/t-rex-roar.mp3">Download audio </a>
							</audio>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <div
						class="col-md-4 no-padding clickable"
						[routerLink]="'/media/news/detail/' + item.slug + '-nid-' + item.id"
					>
						<img class="img-fluid" [src]="item.imageUrl" alt="Thumb" />
					</div> -->
<!-- <div class="col-md-8">
						<div class="pa-30">
							<h4
								class="page-title clickable"
								[routerLink]="
									'/media/news/detail/' + item.slug + '-nid-' + item.id
								"
							>
								{{ item.title }}
							</h4>
							<div class="inner pt-30" [innerHtml]="item.brief"></div>
						</div>
					</div> -->
