<section
  class="breadcrumb"
  [ngStyle]="{
    position: 'relative',
    width: '100%',
    display: 'flex',
    transition: '0.5s',
    'margin-bottom': '0px',
    'animation-name': 'FadeIn',
    'animation-duration': '3s',
    'transition-timing-function': 'linear',
    'align-items': 'center',
    background: 'linear-gradient(#000000b0 40%, #00000080 100%),' + bgImage,
    'background-size': 'cover',
    'background-position': 'center'
  }">
  <div class="content">
    <div class="sect">
      <h3>{{ title }}</h3>
      <ul class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li>{{ title }}</li>
      </ul>
    </div>
  </div>
</section>

<section id="team" class="team-area">
  <div class="container" style="padding-top: 40px">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="site-heading text-center">
              <h3 class="page-subtitle">Our</h3>
              <h3 class="page-title">Secretariat</h3>
              <p>
                The Secretariat support is provided by the 'Impact Investors
                Foundation'
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-12 single-item mb-30 white-bg"
            *ngFor="let item of team">
            <div class="row">
              <div class="col-md-2 no-padding">
                <img class="img-fluid" [src]="item.imageUrl" alt="Thumb" />
              </div>
              <div class="col-md-10">
                <div class="pa-30">
                  <h4 class="page-title">
                    {{ item.firstName }} {{ item.lastName }}
                  </h4>
                  <span class="page-subtitle">{{ item.jobTitle }}</span>
                  <div class="inner pt-30" [innerHtml]="item.profile"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
